.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #566782;
  color: white;
  padding: 10px 20px;
  height: 150px;
}

.nav-links a, .nav-user a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.nav-links a:hover, .nav-user a:hover {
  text-decoration: underline;
}

.nav-user {
  display: flex;
  align-items: center;
}

.nav-user span {
  margin-right: 15px;
}

.btnlogout {
  background-color: #E0C58F;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btnlogout:hover {
  background-color: #C9A66B;
}
